# 依赖管理
/node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# 构建输出
/dist
dist/
/build
build/

# 本地环境文件
.env.local
.env.*.local

# 缓存文件
.cache/
.npm/
.pnpm-store/
.pnpm-debug.log*
.eslintcache

# 测试覆盖率
/coverage
coverage/

# IDE 和编辑器设置
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 临时文件
.temp
.tmp

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 测试文件
/tests/e2e/videos/
/tests/e2e/screenshots/

# 用户上传
/public/uploads